* {
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: inherit;
}
.google-auto-placed {
    max-width: 100%;
    overflow: hidden !important;
}
ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}
:root {
    --yellow:#FFCC00;
    --red:#e61601;
    --white:#fff;
    --light-white:#f0f0f0;
    --grey:	#696969;
    --light-grey:#D3D3D3;
    --black:#000;
    --blue: #007BFF;
    --green:#0f853c;
}

[data-theme="dark"]{
    color-scheme: dark;
}
[data-theme="light"] {
    color-scheme: light;
}
body {
    width: 100%;
    height:100%;
    margin: 0;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E"); */
    background-color: light-dark(var(--white),var(--black));
    font-family: var(--primary-font-name), sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;

    @media (max-width:768px) {
       grid-template-columns: 1fr;
    }
}
.ads-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 250px;
    background-color: light-dark(var(--white),var(--light-grey));
}
br {
    margin: 10px 0;
}
audio {
    display: none;
}
/* main  */
main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 20px;
    row-gap: 20px;
    background-color: light-dark(var(--light-white),var(--black));


    & section {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .ke-breadcramp-lists {
            width: 100%;
    
            & nav ul {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                list-style: none;
                font-size: 0.7rem;

                & li {
                    font-size: 0.9rem;

                    & a::last-child {
                        pointer-events: none;
                    }
                }
            }
        }
    }
    
    & .ke-two-column-layout {
        width: 100%;
        display: grid;
        grid-template-columns: 2.8fr 1.2fr;
        gap: 20px;

        @media (max-width:881px) {
            grid-template-columns: 1fr;
        }

        &.one-column {
            grid-template-columns: 1fr;

            & .ke-channel-lists {
                grid-auto-flow: row !important;       
                /* grid-auto-rows: minmax(100px, auto);  */
                grid-column: auto;        
                overflow-x: hidden !important;
                overflow-y: hidden !important; 
            }
        }

        & .ke-first-column {
            width: 100%;
            height: auto;
            display: grid;
            gap: 20px;
            
            & .ke-more-channels-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow: hidden;

                & .ke-area-holder {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 1.3rem;
                    font-weight: 600;

                    & i {
                        color: light-dark(var(--blue),var(--yellow));
                    }
                }
                & .ke-channel-lists {
                    width: 100%;
                    padding: 20px 10px;
                    display: grid;
                    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
                    gap: 10px;
                    grid-auto-flow: column;
                    grid-column: 100px;
                    overflow-x: scroll;
                    overflow-y: hidden;

                    & .ke-channel-card {
                        width: 100%;
                        padding: 5px;
                        border-radius: 5px;
                        background-color: light-dark(var(--white),var(--black)) ;

                        & .channel-image {
                            width: 90px;
                            height: 90px;
                            position: relative;
                            border-radius: 5px;
                            margin-bottom: 15px;
                            
                            & img {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 15px;
                            }

                            & .channel-status {
                                width: fit-content;
                                height: fit-content;
                                padding: 2px 4px;
                                border-radius: 5px;
                                position: absolute;
                                z-index: 5;
                                transform: translate(50%,-50%);
                                /* bottom: -10px; */
                                white-space: nowrap;
                                background-color: var(--black);
                                color: var(--white);
                                font-size: 0.9rem;

                                &.live-now {
                                    background-color: var(--red);
                                }

                                &.off-air {
                                    background-color: var(--green);
                                }
                            }
                        }

                        & .channel-name {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-weight: 600;
                            font-size: 1.1rem;
                            letter-spacing: 0.5px;
                        }
                    }
                }
                & .ke-radio-categories-container {
                    width: 100%;

                    & .ke-radio-categories-lists {
                        width: 100%;
                        padding: 20px 10px;
                        display: grid;
                        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
                        gap: 10px;
                        overflow: hidden;

                        & .radio-category-card{
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            background-color: light-dark(var(--white),var(--light-grey));
                            color: var(--black);

                            &:hover {
                                margin-bottom: 5px;
                            }

                            & a {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                            }

                            & i{
                                font-size: 1.8rem;
                            }
                            & .radio-category-metadata {
                                display: flex;
                                flex-direction: column;

                                & .radio-category-name {
                                    width: 100%;
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                    letter-spacing: 0.5px;
                                }
                                & .radio-category-stats {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;

                                }
                            }
                        }
                    }
                }
            }

            & .ke-more-news-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow: hidden;

                & .ke-area-holder {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 1.3rem;
                    font-weight: 600;

                    & i {
                        color: light-dark(var(--blue),var(--yellow));
                    }
                }

                & .ke-news-lists {
                    width: 100%;
                    padding: 20px 10px;
                    display: grid;
                    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
                    gap: 20px;

                    & .ke-news-card {
                        width: 100%;
                        padding: 10px;
                        border-radius: 5px;
                        background-color: light-dark(var(--white),var(--black));

                        & .card-flex {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            margin-bottom: 5px;

                            & .card-image {
                                width: 60px;
                                height: 60px;
                                overflow: hidden;
                                position: relative;

                                &.soaps-image {
                                    width: 200px;
                                    aspect-ratio: 16/9;
                                }

                                & img {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;left: 0;
                                }
                            }

                            & .card-column {
                                display: flex;
                                align-self: flex-start;
                                flex-direction: column;

                                & .card-origin-name {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                }

                                & .card-datetime {
                                    display: flex;
                                    align-items: center;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        & .card-title {
                            display: flex;
                            align-items: center;
                            font-size: 1.1rem;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        & .ke-second-column {
            width: 100%;
            max-height: 600px;
            padding: 0 0 20px;
            display: grid;
            gap: 20px;
            position: -webkit-sticky;
            position: sticky;
            top: 60px;
            overflow-y: scroll;
            overflow-x: hidden;

            & .ads-container {
                width: 100%;
                overflow: hidden;
                min-height: 200px;
                background-color: light-dark(var(--white),var(--light-grey));
            }
            & .ke-item-lists-container {
                width: 100%;
                display: grid;
                gap: 20px;

                & .area-label {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 1.2rem;
                    font-weight: 600;
                    letter-spacing: 0.5px;

                    & i {
                        color: light-dark(var(--blue),var(--yellow));
                    }
                }
                & .item-card-container {
                    width: 100%;
                    display: grid;
                    gap: 10px;

                    & .ke-item-card {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        overflow: hidden;
        
                        & a:where(img) {
                            width: 40px;
                            height: 40px;
                            overflow: hidden;
                        }
        
                        & img {
                            width: 40px;
                            height: 40px;
                            align-self: flex-start;
                            border-radius: 5px;
                        }
                        & .card-metadata {
                            display: flex;
                            align-self: flex-start;
                            flex-direction: column;
                            font-size: 0.9rem;
                            gap: 6px;
        
                            & strong {
                                letter-spacing: 0.5px;
                                font-weight: 550;
                            }
                            & .row-items {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                gap: 5px;
        
                                & span {
                                    display: flex;
                                    gap: 5px;
                                    align-items: center;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    font-size: 0.8rem;
                                }
                            }
                            & i {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}




img {
    max-width: 100%;
    font-style: italic;
    color: light-dark(var(--black),var(--white));
}
video , iframe {
    max-width: 100%;
}
h1 {
    font-size: 2rem;
}



/* calendar box  */
.calender-box {
    width: 50px;
    padding: 5px;
    height: fit-content;
    border-radius: 5px;
    position: fixed;
    top: 160px;
    right: 0;
    background-color: light-dark(var(--green),var(--blue));
    color: var(--white);
    z-index: 11000;
    border-radius: 2px;
    border: 4px solid var(--orange);
    font-size: 0.8rem;
    font-weight: 600;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    display: none;
}
.calender-box div {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.calender-box .day {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.calender-box .month {
    font-weight: 550;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.calender-box .year {
    font-weight: 700;
    font-size: 1.5rem;
}


@media (max-height:300px) and (orientation:landscape) {
    .calender-box {
        display: none;
    }
}
@media (max-width:1024px) {
    .calender-box {
        display: none;
    }
}


/* embed video dialog box  */
@media (max-width:1014px) {
    .channel-name-social-media .social-icons li:has(.embed-icon){
        display: none !important;
    } 
}
#embedVideoContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: light-dark(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999;
    font-size: 1.4rem;
    overflow: hidden;
}
#EmbedSupportMessage {
    width: clamp(150px, 70% , 90%);
    height: clamp(450px, 70% , 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: light-dark( var(--white),rgba(0, 0, 0, 0.7));
    color: light-dark(var(--black),var(--white));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#EmbedSupportMessage p {
    margin: 10px 0;
}

.embed-code-container {
    width: 100%;
    position: relative;
    background-color: light-dark( var(--light-white),rgba(0, 0, 0, 0.7));
    color: light-dark(var(--black),var(--white));
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    margin: 10px 0;
    word-wrap: break-word;

}
.embed-code-container .copy-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0 0 0 10px;
}
.embed-code-container .copy-btn::after {
    content: 'Copy';
    margin-left: 5px;
}

#hideEmbedContainer {
    margin-top: 10px;
    background-color: var(--orange);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.25rem;
}

/* ad blocker styles */
#adBlockerContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: light-dark( rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    font-size: 1.4rem;
    cursor: wait;
    overflow: hidden;
}

#anti-js-detector {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: light-dark( var(--light-white),rgba(0, 0, 0, 0.7));
    z-index: 10000;
    font-size: 1.4rem;
    cursor: wait;
    overflow: hidden;
}

#adBlockerSupportMessage {
    width: clamp(150px, 50% , 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: light-dark(var(--white),var(--black));
    color: light-dark(var(--black),var(--white));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#hideAdBlockerMessage {
    background-color: var(--orange);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.25rem;
}

#hideAdBlockerMessage:hover {
    background-color: var(--green);
    color: var(--white);
}


@media (max-width:768px) {
    #adBlockerContainer {
        font-size: 1rem;
    }
    #adBlockerSupportMessage {
        width: clamp(150px, 80% , 600px);
        height: fit-content;
    }
}

@media (max-width:600px) {
    #adBlockerSupportMessage {
        height: fit-content;
    }
}


/* cookie consent  */
.cookie-banner {
    /* width: 100%; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: light-dark(var(--white),var(--black));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999999999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    overflow: auto;
    display: none;
}
.cookie-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--green),var(--red),var(--black) , blue ,var(--orange));
}

.cookie-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
}
.cookie-text {
    max-width: 80%;
    width: fit-content;
    font-size: 16px;
    color: light-dark(var(--black),var(--white));
    display: flex;
    align-items: center;
    justify-content: center;
}
.cookie-text a {
    color: light-dark(var(--red),var(--red));
    font-weight: bold;
    text-decoration: none;
}

.cookie-text a:hover {
    text-decoration: underline;
}

.cookie-buttons {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.accept-btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--green);
    color: var(--white);
    width: fit-content;
    height: fit-content;
}

.accept-btn:hover {
    background-color: var(--orange);
    color: var(--black);
}
@media (max-width:768px) {
    .cookie-content {
        width: 100%;
    }
    .cookie-text {
        max-width: 100%;
    }
}
@media (max-width:400px) {
    .cookie-banner {
        padding: 15px 15px;
    }
    .cookie-content {
        width: 100%;
        gap: 10px;
    }
    .cookie-buttons {
        margin-left: auto;
    }
}
@media (max-width:350px) {
    .cookie-banner {
        padding: 10px 10px;
    }
    .cookie-content {
        width: 100%;
        flex-wrap: wrap;
    }
}



/* network state detector  */

.status-message {
    display: none;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    font-weight: 560;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
}

#online-message {
    background-color: var(--green);

    & i {
        margin-right: 5px;
    }
}

@media (max-width:768px) {
    .status-message {
        padding: 10px 20px;
        white-space: nowrap;
    }
}


#firstM3u8Div a, #lastM3u8Div a, .m3u8 , #firstUrlDivId, #lastUrlDivId , #copyFirstButtonId , .nobreak , #myM3u8LayerId , #myM3u8LayerId div{
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
    z-index: -9999999999;
}

#m3u8CopyButtonId , .unselectable , #sliders , #myM3U8Div , .cssbutton , .overlayDiv , #m3u8Layer , #popupBodyId{
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
    z-index: -9999999999;
}


/* user profile account */
.user-login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    font-size: 1.4rem;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-login-container form {
    width: clamp(250px, 90%, 350px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--light-grey);
    background-color: var(--black);
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.user-login-container .login-options {
    width: clamp(250px, 90%, 350px);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 0 20px;
}
.user-login-container .login-options button{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 520;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: var(--red);
    color: var(--white);
}
.user-login-container .login-options button:first-child {
    background-color: var(--green);
    color: var(--black);
}
.user-login-container #math-form p{
    margin-bottom: 10px;
}
.user-login-container #math-form input , .user-login-container #email-form input{
    margin-bottom: 10px;
}

.user-login-container .login-message {
    width: clamp(250px, 90%, 350px);
    font-weight: 500;
    font-size: clamp(0.9rem,1.3rem,4rem);
    text-align: center;
    margin-bottom: 10px;
    color: var(--white);
    display: grid;
    gap: 5px;
}

.user-login-container .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.user-login-container .input-group label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--light-grey);
    width: 100%;
}

.user-login-container .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid var(--light-grey);
    background-color: var(--dark-grey);
    color: var(--white);
}

.user-login-container .input-group input:focus {
    outline: none;
    border-color: var(--orange);
}

.user-login-container .input-group button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--black);
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.user-login-container .input-group button:hover {
    outline: 2px solid var(--orange);
    background-color: var(--black);
    color: var(--white);
}

.user-login-container .input-group .error-message {
    font-size: 0.9rem;
    color: var(--red);
    margin-top: 5px;
}

.user-login-container .timer-message {
    font-size: 1rem;
    color: var(--orange);
    text-align: center;
    margin-top: 15px;
}


/* // notification container for all the pages  */
.notification-container {
    position: relative;
}

.bell-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 5px;
}
.bell-icon i{
    position: relative;
    width: fit-content;
    height: fit-content;
}
@media (max-width:768px) {
    .bell-icon {
        margin-left: 10px;
    }
}
.bell-icon i:hover{
    transform: scale(1);
}
.bell-icon i::after {
    content: attr(data-notification-count);
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    top: -7px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    letter-spacing: .5px;
    background-color: var(--red);
    color: var(--white);
    font-size: 0.6rem !important;
    padding: 5px;
    border-radius: 50%;
}

.notification-dropdown {
    position: absolute;
    top: 110px;
    right: 70px;
    width: clamp(min(100%,250px),calc(100% - 40px),min(100%,320px));
    max-height: clamp(100px, calc(5vw + 50vh), 70vh);
    max-height: clamp(100px, calc(5dvw + 50dvh), 70dvh);
    overflow: auto;
    background-color: light-dark(var(--white),var(--black));
    border: 1px solid var(--grey);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 6000;
    scroll-behavior: smooth;
}
@media (max-width:768px) {
    .notification-dropdown {
        width: calc(100% - 40px);
        right: 20px;
        left: 20px;
    }
}
@media (max-width:400px) {
    .notification-dropdown {
        width: calc(100% - 20px);
        right: 10px;
        left: 10px;
    }
}

.notification-dropdown.active {
    display: block;
}

.notification-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--light-grey);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notification-item:hover {
    background-color: light-dark(var(--light-white),var(--black));
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item .notification-icon {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    align-self: fkex-start;
}
.notification-item .notification-icon img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}

.notification-details {
    width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
}
.notification-details:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
}

.notification-details .notification-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 580;
    color: light-dark(#333, var(--white));
}

.notification-details .notification-meta {
    margin: 0;
    font-size: 12px;
    color: light-dark(#666, var(--white));
}

.notification-details .progress-bar {
    height: 5px;
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 4px;
    position: relative;
    margin-top: 5px;
}
.notification-details .progress-bar .show-type-label {
    position: absolute;
    right: 10px;
    top: -25px;
    font-size: 0.7rem;
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    padding: 2px 4px;
    background-color: var(--orange);
    color: var(--black);
}
.notification-details .progress-bar .progress {
    height: 100%;
    background-color: var(--orange);
    width: 0%;
    transition: width 0.3s ease;
    border-radius: 4px;
}
.notification-details .progress-bar .progress.active {
    background-color: var(--red);
    border-radius: 4px;
}
.notification-dropdown:has(.no-notifications) {
    height: fit-content;
}
.notification-dropdown .no-notifications {
    width: 100%;
    padding: 20px;
    color: light-dark(var(--black),var(--white));
    font-size: 1rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notification-dropdown .no-notifications strong{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.notification-dropdown .no-notifications p{
    padding-right:10px ;
    margin-bottom: 20px;
    font-size: 1rem;
    position :relative;
}

/* CHRISTMAS EFFECTS*/
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: light-dark(var(--black),var(--white));
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}

/* NEW YEAR EFFECTS  */
.fireworksContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999999999999999999;
    pointer-events: none;
}

.fireG {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 200px;
}

.fireCrBr {
    position: absolute;
    top: 0%;
    left: 0%;
    width: inherit;
    height: inherit;
    transform: rotate(calc((360deg / var(--bars)) * var(--barNumber)));
}

.fireCr {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20px;
    height: 20px;
    color: inherit;
    background-color: currentColor;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 15px currentColor);
    transform: translateY(calc(100% * 10));
    transition: 0.3s linear;
    opacity: 0;
}
.fireG.fired .fireCr {
    animation: fireWork 2s linear var(--animationDelay,0s) 1 forwards;
}

@keyframes fireWork {
    0%
    {
        transform: translateY(calc(30% * 10));
        opacity: 1;
    }
    80%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: translateY(calc(-60% * 10));
    }            
}        

.fireCr::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 400%;
    background-color: currentColor;
    filter: blur(44px);
    clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 40% 100%);
}